<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Minstagram</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link " href="Post" id="navbarScrollingDropdown" role="button"  aria-expanded="false">
             Post
          </a>
        </li>
      </ul>

      <li class="d-flex">
        <a  class="nav-link text-bb fs-07 "  >Hi   ! </a>
      </li>
      <li class="d-flex">
        <a  class="nav-link text-bb fs-07 trow"  (click)="goToPage()">{{LoggedInUser.name}}</a>
      </li>
          <li class="d-flex">
              <a class="nav-link text-bb fs-07" href="" (click)="logout()">LOG OUT</a>
          </li>
    </div>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-12">
<router-outlet></router-outlet>
</div>
</div>
</div>
