<form [formGroup] ="createForm">
  <div class="row " style="height: calc(100vh - 91.36px);">
    <div class="col-12">
      <div class="row pt-4 pb-2">
        <div class="col-12 col-lg-6 mx-auto">
          <div class="text-muted display-6" style="padding-left: 20px;">
            Enter MetaData For Your Post
          </div>
        </div>




      </div>
      <div class="row">

        <div class="col-12 col-lg-6">

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">FileName</span>
            <input formControlName="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

        </div>

        <div class="col-12 col-lg-6">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input formControlName="type" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="btnradio1">Public</label>

            <input formControlName="type" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio2">Private</label>


          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
            <input formControlName="location" formControlName="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>




        <div class = "my-3 ">
          <label class="m-3 btn btn-secondary btn-sm" style="position: absolute; left: 0%;" (click)="file.click()">+ Photo Upload</label>
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
        </div>

        <div class="col-12 col-lg-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-secondary me-md-2" type="button">Save</button>
        </div>
      </div>
</div>

</div>
</div>
  </form>

