@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
              
                    <a  class="nav-link text-dark">Are you sure ?</a>
                <button type="submit" class="nav-link btn btn-link text-dark">Yes</button>
             
                    <a href="http://localhost:4200/home" class="nav-link text-dark">no</a>
             
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>