@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Too Account Management</h1>
    <p>Click here to go back to Mistagram <a href="http://localhost:4200/home">Minstagram</a>.</p>
</div>
